
.container{
	font-size: 1.25em;
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./components/n.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
    display: flex;
    align-items: center;
}
button{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
input {
    width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid rgb(234, 228, 228);
	outline:none;
	background: transparent;
    color: white;
}

input:focus {
    outline-color: rgb(32, 177, 255);
}

.text1{
    color: #F3C693;
}
.cover2{
    width:380px;
	height:450px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:10px;
    overflow: hidden;
    justify-content: space-evenly;
}
.submit{
	margin-top: 50px;
}
.newaccount{
	margin-top: 20px;
}
.su{
	margin-top: 20px;
	margin-bottom: 20px;
}
.newacc{
	margin-top: 10px;
}
.sighnup{
	color: #F3C693;
}
.p{
	color: antiquewhite;
}
.don{
	color: azure;
}
