  .ProductForm {
    margin-left:600px;
    margin-top: 20px;
    padding: 20px;
    width: 300px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .ProductTitle{
    font-weight: bolder;
    font-size: 30px;
    color:rgb(255, 145, 0);
    cursor: pointer;
    margin-left: 30px;
  }
  .ProductItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .ProductItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .ProductItem > input {
    padding: 10px;
  }
  .ProductButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(62, 62, 66);
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
  }
  .ProductButton:hover{
 background:rgb(255, 145, 0);
  }
