.ProductButto{
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}
.ProductButtot{
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}
.table {
    width: 450px;
    height: 300px;
    text-align: center;
  }
  .listcon{
    margin-left: 300px;
    margin-top: 20px;
    padding: 20px;
    width: 450px;
    height: 400px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }